
Datechange=function(time){
  const dateObject = new Date(time)
  const year = dateObject.getFullYear();
  const month = dateObject.getMonth() + 1; // 月份是从 0 开始的，所以需要加 1
  const day = dateObject.getDate();
  const hours = dateObject.getHours();
  const minutes = dateObject.getMinutes();
  const seconds = dateObject.getSeconds();
  const humanReadableTime = year+'-'+month+'-'+day+' '+hours+':'+minutes+':'+seconds;
return humanReadableTime
}

module.exports={
  filter:Datechange
}